smart_open==3.0.0
numpy==1.20.2
pandas==1.2.4
seaborn==0.11.0
gensim==3.8.0
pyLDAvis==3.3.1
nltk==3.5
spacy==3.0.6
json==2.0.9
numpy==1.20.2
pandas==1.2.2
seaborn==0.11.1
gensim==3.8.0
spacy==3.0.6
pyLDAvis==3.3.1
